<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Multiple-Linear-Regression-with-Dummies---Exercise" data-toc-modified-id="Multiple-Linear-Regression-with-Dummies---Exercise-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Multiple Linear Regression with Dummies - Exercise</a></span><ul class="toc-item"><li><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Regarding-the-'view'-variable:" data-toc-modified-id="Regarding-the-'view'-variable:-1.0.0.1"><span class="toc-item-num">1.0.0.1&nbsp;&nbsp;</span>Regarding the 'view' variable:</a></span></li></ul></li></ul></li><li><span><a href="#Import-the-relevant-libraries" data-toc-modified-id="Import-the-relevant-libraries-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Import the relevant libraries</a></span></li><li><span><a href="#Load-the-data" data-toc-modified-id="Load-the-data-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Load the data</a></span></li><li><span><a href="#Create-a-dummy-variable-for-'view'" data-toc-modified-id="Create-a-dummy-variable-for-'view'-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Create a dummy variable for 'view'</a></span></li><li><span><a href="#Create-the-regression" data-toc-modified-id="Create-the-regression-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Create the regression</a></span><ul class="toc-item"><li><span><a href="#Declare-the-dependent-and-the-independent-variables" data-toc-modified-id="Declare-the-dependent-and-the-independent-variables-1.4.1"><span class="toc-item-num">1.4.1&nbsp;&nbsp;</span>Declare the dependent and the independent variables</a></span></li><li><span><a href="#Regression" data-toc-modified-id="Regression-1.4.2"><span class="toc-item-num">1.4.2&nbsp;&nbsp;</span>Regression</a></span></li></ul></li></ul></li></ul></div>

# Multiple Linear Regression with Dummies - Exercise

You are given a real estate dataset. 

Real estate is one of those examples that every regression course goes through as it is extremely easy to understand and there is a (almost always) certain causal relationship to be found.

The data is located in the file: 'real_estate_price_size_year_view.csv'. 

You are expected to create a multiple linear regression (similar to the one in the lecture), using the new data. 

In this exercise, the dependent variable is 'price', while the independent variables are 'size', 'year', and 'view'.

#### Regarding the 'view' variable:
There are two options: 'Sea view' and 'No sea view'. You are expected to create a dummy variable for view and include it in the regression

Good luck!

## Import the relevant libraries

In [8]:
import numpy as np
import pandas as pd
import scipy
import statsmodels.api as sm
import sklearn

# plotting
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set(color_codes=True)
sns.set()

# seaborn warnings ignore
import warnings
warnings.filterwarnings('ignore')

# Jupyter notebook settings for pandas
pd.set_option('display.float_format', '{:,.2f}'.format) # numbers sep by comma
pd.set_option('display.max_rows', 100) # None for all the rows
pd.set_option('display.max_colwidth', 100)

## Load the data

In [10]:
df = pd.read_csv('../data/csv/real_estate_price_size_year_view.csv')
df.head()

       price     size  year         view
0 234,314.14   643.09  2015  No sea view
1 228,581.53   656.22  2009  No sea view
2 281,626.34   487.29  2018     Sea view
3 401,255.61 1,504.75  2015  No sea view
4 458,674.26 1,275.46  2009     Sea view

In [11]:
df.describe(include='all')

            price     size     year         view
count      100.00   100.00   100.00          100
unique        nan      nan      nan            2
top           nan      nan      nan  No sea view
freq          nan      nan      nan           51
mean   292,289.47   853.02 2,012.60          NaN
std     77,051.73   297.94     4.73          NaN
min    154,282.13   479.75 2,006.00          NaN
25%    234,280.15   643.33 2,009.00          NaN
50%    280,590.72   696.40 2,015.00          NaN
75%    335,723.70 1,029.32 2,018.00          NaN
max    500,681.13 1,842.51 2,018.00          NaN

## Create a dummy variable for 'view'

In [13]:
df['view'] = df['view'].map({'Sea view':1, 'No sea view':0})
df.head()

       price     size  year  view
0 234,314.14   643.09  2015     0
1 228,581.53   656.22  2009     0
2 281,626.34   487.29  2018     1
3 401,255.61 1,504.75  2015     0
4 458,674.26 1,275.46  2009     1

## Create the regression

### Declare the dependent and the independent variables

In [19]:
y = df['price']
x1 = df[['size','year','view']]

### Regression

In [16]:
x = sm.add_constant(x1)
results = sm.OLS(y,x).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.913
Model:                            OLS   Adj. R-squared:                  0.910
Method:                 Least Squares   F-statistic:                     335.2
Date:                Sun, 16 Dec 2018   Prob (F-statistic):           1.02e-50
Time:                        16:23:26   Log-Likelihood:                -1144.6
No. Observations:                 100   AIC:                             2297.
Df Residuals:                      96   BIC:                             2308.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -5.398e+06   9.94e+05     -5.431      0.000   -7.37e+06   -3.43e+06
size         223.0316      7.838     28.455      0.000     207.473     238.590
year        2718.9489    493.502      5.510      0.000    1739.356    3698.542
view        5.673e+04   4627.695     12.258      0.000    4.75e+04    6.59e+04
==============================================================================
Omnibus:                       29.224   Durbin-Watson:                   1.965
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               64.957
Skew:                           1.088   Prob(JB):                     7.85e-15
Kurtosis:                       6.295   Cond. No.                     9.42e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.42e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""