<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import sys
sys.path.append('../utils')

import psycopg2
import util_database
from util_database import *

In [2]:
dbname, dbuser, dbpass, dbport = get_postgres_configs('dvdrental')
%load_ext sql
%sql postgres://postgres:$dbpass@localhost:$dbport/$dbname

'Connected: postgres@dvdrental'

In [3]:
from IPython.display import display_javascript
js = "IPython.CodeCell.options_default.highlight_modes['magic_sql'] = {'reg':[/^##%%sql/]};"
display_javascript(js, raw=True)

In [4]:
##%%sql
q = " select * from customer limit 2;"
execute_query(q,dbname)

DatabaseError: Execution failed on sql ' select * from customer limit 2;  real double   ': syntax error at or near "real"
LINE 1:  select * from customer limit 2;  real double
                                          ^