<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Lesson-3:-Data-Wrangling" data-toc-modified-id="Lesson-3:-Data-Wrangling-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Lesson 3: Data Wrangling</a></span><ul class="toc-item"><li><span><a href="#Lesson-3.11-Quiz-1:-CSV-Exercise" data-toc-modified-id="Lesson-3.11-Quiz-1:-CSV-Exercise-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Lesson 3.11 Quiz 1: CSV Exercise</a></span></li><li><span><a href="#Lesson-3.14-Quiz2:-Relational-Databases-(Aadhar-data)" data-toc-modified-id="Lesson-3.14-Quiz2:-Relational-Databases-(Aadhar-data)-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Lesson 3.14 Quiz2: Relational Databases (Aadhar data)</a></span></li><li><span><a href="#Lesson-3.19-Quiz3:-Write-Your-Own-Complex-Query" data-toc-modified-id="Lesson-3.19-Quiz3:-Write-Your-Own-Complex-Query-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Lesson 3.19 Quiz3: Write Your Own Complex Query</a></span></li><li><span><a href="#Lesson-3.27-Quiz:-API-Exercise-(Data:-lastfm-)" data-toc-modified-id="Lesson-3.27-Quiz:-API-Exercise-(Data:-lastfm-)-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Lesson 3.27 Quiz: API Exercise (Data: lastfm )</a></span></li><li><span><a href="#Lesson-3.36-Quiz:-Imputation-Exercise-(Data:-Lahman-baseball-data)" data-toc-modified-id="Lesson-3.36-Quiz:-Imputation-Exercise-(Data:-Lahman-baseball-data)-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Lesson 3.36 Quiz: Imputation Exercise (Data: Lahman baseball data)</a></span></li></ul></li></ul></div>

# Lesson 3: Data Wrangling

## Lesson 3.11 Quiz 1: CSV Exercise

In [10]:
# %%writefile lesson3_11_quiz1_csv.py
"""
Note: Download Master.csv data from 2016 records.
http://seanlahman.com/files/database/baseballdatabank-master_2016-02-29.zip

Download the zip and copy Master.zip inside "data" folder.
"""
import pandas
import pandas as pd

def add_full_name(path_to_csv, path_to_new_csv):
    #Assume you will be reading in a csv file with the same columns that the
    #Lahman baseball data set has -- most importantly, there are columns
    #called 'nameFirst' and 'nameLast'.
    #1) Write a function that reads a csv
    #located at "path_to_csv" into a pandas dataframe and adds a new column
    #called 'nameFull' with a player's full name.
    #
    #For example:
    #   for Hank Aaron, nameFull would be 'Hank Aaron', 
    #
    #2) Write the data in the pandas dataFrame to a new csv file located at
    #path_to_new_csv

    #WRITE YOUR CODE HERE
    df = pd.read_csv(path_to_csv)
    df['nameFull'] = df['nameFirst'] + ' ' +  df['nameLast']
    df.to_csv(path_to_new_csv)



if __name__ == "__main__":
    # For local use only
    # If you are running this on your own machine add the path to the
    # Lahman baseball csv and a path for the new csv.
    # The dataset can be downloaded from this website: http://www.seanlahman.com/baseball-archive/statistics
    # We are using the file Master.csv
    path_to_csv = "../data/Master.csv"
    path_to_new_csv = "quiz1_master.csv"
    add_full_name(path_to_csv, path_to_new_csv)

In [11]:
!head -n1 quiz1_master.csv

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,deathCountry,deathState,deathCity,nameFirst,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID,nameFull

## Lesson 3.14 Quiz2: Relational Databases (Aadhar data)

In [12]:
# %%writefile lesson3_19_quiz2_aadhar.py
import pandas
import pandasql
import pandas as pd
import pandasql as pdsql

def select_first_50(filename):
    # Read in our aadhaar_data csv to a pandas dataframe.  Afterwards, we rename the columns
    # by replacing spaces with underscores and setting all characters to lowercase, so the
    # column names more closely resemble columns names one might find in a table.
    aadhaar_data = pandas.read_csv(filename)
    aadhaar_data.rename(columns = lambda x: x.replace(' ', '_').lower(), inplace=True)

    # Select out the first 50 values for "registrar" and "enrolment_agency"
    # in the aadhaar_data table using SQL syntax. 
    #
    # Note that "enrolment_agency" is spelled with one l. Also, the order
    # of the select does matter. Make sure you select registrar then enrolment agency
    # in your query.
    #
    # You can download a copy of the aadhaar data that we are passing 
    # into this exercise below:
    # https://s3.amazonaws.com/content.udacity-data.com/courses/ud359/aadhaar_data.csv
    q = """
    -- YOUR QUERY HERE
    SELECT registrar, enrolment_agency
    FROM aadhaar_data
    LIMIT 50;
    """

    #Execute your SQL command against the pandas frame
    aadhaar_solution = pandasql.sqldf(q.lower(), locals())
    
    # method2
#     df = pd.read_csv(filename)
#     df = df.rename(columns = lambda x: x.replace(' ', '_').lower())
#     df2 = df[['registrar','enrolment_agency']][0:50]
#     aadhar_solution = df2
    
    return aadhaar_solution


if __name__ == "__main__":
    filename = '../data/aadhaar_data.csv'
    df = select_first_50(filename)
    print(df.tail())

         registrar             enrolment_agency
45  Allahabad Bank  Vakrangee Softwares Limited
46  Allahabad Bank  Vakrangee Softwares Limited
47  Allahabad Bank  Vakrangee Softwares Limited
48  Allahabad Bank  Vakrangee Softwares Limited
49  Allahabad Bank  Vakrangee Softwares Limited

## Lesson 3.19 Quiz3: Write Your Own Complex Query

In [13]:
# %%writefile lesson3_22_quiz3_compled_aadhaar.py
import pandas
import pandasql
import pandas as pd
import pandasql as pdsql

"""
NOTE: Required answer has three columns
gender           district  sum(aadhaar_generated)
F
F
M
M
etc.
"""

def aggregate_query(filename):
    # Read in our aadhaar_data csv to a pandas dataframe.  Afterwards, we rename the columns
    # by replacing spaces with underscores and setting all characters to lowercase, so the
    # column names more closely resemble columns names one might find in a table.
    
    aadhaar_data = pandas.read_csv(filename)
    aadhaar_data.rename(columns = lambda x: x.replace(' ', '_').lower(), inplace=True)

    # Write a query that will select from the aadhaar_data table how many men and how 
    # many women over the age of 50 have had aadhaar generated for them in each district.
    # aadhaar_generated is a column in the Aadhaar Data that denotes the number who have had
    # aadhaar generated in each row of the table.
    #
    # Note that in this quiz, the SQL query keywords are case sensitive. 
    # For example, if you want to do a sum make sure you type 'sum' rather than 'SUM'.
    #

    # The possible columns to select from aadhaar data are:
    #     1) registrar
    #     2) enrolment_agency
    #     3) state
    #     4) district
    #     5) sub_district
    #     6) pin_code
    #     7) gender
    #     8) age
    #     9) aadhaar_generated
    #     10) enrolment_rejected
    #     11) residents_providing_email,
    #     12) residents_providing_mobile_number
    #
    # You can download a copy of the aadhaar data that we are passing 
    # into this exercise below:
    # https://s3.amazonaws.com/content.udacity-data.com/courses/ud359/aadhaar_data.csv
 
    q = """
    SELECT gender, district, sum(aadhaar_generated)
    FROM aadhaar_data
    WHERE age > 50
    GROUP BY gender, district;
    """

    # Execute your SQL command against the pandas frame
    aadhaar_solution = pandasql.sqldf(q.lower(), locals())
    
    # method2
    
    
    return aadhaar_solution 
if __name__ == "__main__":
    filename = '../data/aadhaar_data.csv'
    df = aggregate_query(filename)
    print(df.head())
    print(df.tail())

  gender     district  sum(aadhaar_generated)
0      F   Ahmadnagar                      45
1      F  Ahmed Nagar                       0
2      F    Ahmedabad                       1
3      F        Ajmer                      27
4      F        Akola                       5
    gender        district  sum(aadhaar_generated)
523      M  West Singhbhum                     227
524      M    West Tripura                      24
525      M          Yadgir                      12
526      M    Yamuna Nagar                     149
527      M        Yavatmal                      54

## Lesson 3.27 Quiz: API Exercise (Data: lastfm )

In [14]:
# %% writefile lesson3.27_quiz4_api.py
import json
import requests
import pprint

country = 'spain'  # spain, india, etc
url = 'http://ws.audioscrobbler.com/' +\
        '2.0/?method=geo.gettopartists&country=' + country + '&' +\
        'api_key=4beab33cc6d65b05800d51f5e83bde1b&' +\
        'format=json'
def api_get_request(url):
    # In this exercise, you want to call the last.fm API to get a list of the
    # top artists in Spain. The grader will supply the URL as an argument to
    # the function; you do not need to construct the address or call this
    # function in your grader submission.
    # 
    # Once you've done this, return the name of the number 1 top artist in
    # Spain. 
    data = requests.get(url).text
    data = json.loads(data)
    
    pp = pprint.PrettyPrinter(indent=2)
    pp.pprint(data['topartists']['artist'][0]['name'])
    
    return data['topartists']['artist'][0]['name']
api_get_request(url)

'David Bowie'

'David Bowie'

## Lesson 3.36 Quiz: Imputation Exercise (Data: Lahman baseball data)

Get data from http://seanlahman.com/files/database/baseballdatabank-master_2018-03-28.zip.
Then rename `core/People.csv` to `baseball_data.csv`.

In [19]:
import pandas as pd
import numpy as np

def imputation(filename):
    # Pandas dataframes have a method called 'fillna(value)', such that you can
    # pass in a single value to replace any NAs in a dataframe or series. You
    # can call it like this: 
    #     dataframe['column'] = dataframe['column'].fillna(value)
    #
    # Using the numpy.mean function, which calculates the mean of a numpy
    # array, impute any missing values in our Lahman baseball
    # data sets 'weight' column by setting them equal to the average weight.
    # 
    # You can access the 'weight' colum in the baseball data frame by
    # calling baseball['weight']

    baseball = pd.read_csv(filename)
    baseball['weight'] = baseball['weight'].fillna(np.mean(baseball.weight))

    return baseball

filename = '../data/baseball_data.csv'
baseball = imputation(filename)
print(baseball.head(1))

    playerID  birthYear  birthMonth  birthDay birthCountry birthState  \
0  aardsda01     1981.0        12.0      27.0          USA         CO

  birthCity  deathYear  deathMonth  deathDay    ...     nameLast    nameGiven  \
0    Denver        NaN         NaN       NaN    ...      Aardsma  David Allan

  weight height bats throws       debut   finalGame   retroID    bbrefID
0  215.0   75.0    R      R  2004-04-06  2015-08-23  aardd001  aardsda01

[1 rows x 24 columns]