<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Recursion-Homework-Problems" data-toc-modified-id="Recursion-Homework-Problems-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Recursion Homework Problems</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Problem-1" data-toc-modified-id="Problem-1-1.0.1"><span class="toc-item-num">1.0.1&nbsp;&nbsp;</span>Problem 1</a></span></li><li><span><a href="#Problem-2" data-toc-modified-id="Problem-2-1.0.2"><span class="toc-item-num">1.0.2&nbsp;&nbsp;</span>Problem 2</a></span></li><li><span><a href="#Problem-3" data-toc-modified-id="Problem-3-1.0.3"><span class="toc-item-num">1.0.3&nbsp;&nbsp;</span>Problem 3</a></span></li></ul></li><li><span><a href="#Good-Luck!" data-toc-modified-id="Good-Luck!-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Good Luck!</a></span></li></ul></li></ul></div>

# Recursion Homework Problems 

This assignment is a variety of small problems to begin you getting used to the idea of recursion. They are not full-blown interview questions, but do serve as a great start for getting your mind "in the zone" for recursion problems.


______
### Problem 1

**Write a recursive function which takes an integer and computes the cumulative sum of 0 to that integer**

**For example, if n=4 , return 4+3+2+1+0, which is 10.**

This problem is very similar to the factorial problem presented during the introduction to recursion. Remember, always think of what the base case will look like. In this case, we have a base case of n =0 (Note, you could have also designed the cut off to be 1).

In this case, we have:
   n + (n-1) + (n-2) + .... + 0

Fill out a sample solution:

In [1]:
def rec_sum(n):
    if n == 0:
        return 0
    
    
    return n + rec_sum(n-1)

In [2]:
rec_sum(4)

10

______
### Problem 2

**Given an integer, create a function which returns the sum of all the individual digits in that integer. For example:
if n = 4321, return 4+3+2+1**

In [8]:
def sum_func1(n):
    ans = 0
    while n > 0:
        n,i = n//10, n%10
        ans += i
    return ans

for i in [5,55,555,0]:
    print(i,'==>',sum_func1(i))

5 ==> 5
55 ==> 10
555 ==> 15
0 ==> 0

In [9]:
def sum_func(n):
    # base case
    if len(str(n)) == 1:
        return n
    
    else:
        return n%10 + sum_func(n//10)

In [20]:
sum_func(4321)

10

*Hints:*

In [21]:
# You'll neeed to use modulo
4321%10

1

In [22]:
4321 // 10

432

We'll need to think of this function recursively by knowing that:
4502 % 10 + sum_func(4502/10)

In [23]:
n = 4321
sum(int(i) for i in str(n))

10

In [24]:
n = 4321
ans = 0
while n > 0:
    
    n,i = n//10, n%10
    ans += i
    print(n,i,ans)

432 1 1
43 2 3
4 3 6
0 4 10

________
### Problem 3
*Note, this is a more advanced problem than the previous two! It aso has a lot of variation possibilities and we're ignoring strict requirements here.*

Create a function called word_split() which takes in a string **phrase** and a set **list_of_words**. The function will then determine if it is possible to split the string in a way in which words can be made from the list of words. You can assume the phrase will only contain words found in the dictionary if it is completely splittable.

For example:

In [10]:
def word_split(phrase, lst):
    rev_sorted_lst = sorted(lst,key=len,reverse=True)
    ans = []
    try:
        for i in rev_sorted_lst:
            if i in phrase:
                ans.append(i)
            phrase = phrase.replace(i,'')
    except:
        pass

    return ans if len(phrase) == 0 else []

In [13]:
def word_split(phrase, list_of_words, output=None):
    if output is None:
        output = []
        
    for word in list_of_words:
        if phrase.startswith(word):
            output.append(word)
            return word_split(phrase[len(word):], list_of_words, output)
    return output

In [14]:
word_split('themanran',['the','ran','man'])

['the', 'man', 'ran']

In [15]:
word_split('ilovedogsJohn',['i','am','a','dogs','lover','love','John'])

['i', 'love', 'dogs', 'John']

In [16]:
word_split('themanran',['clown','ran','man'])

[]

In [17]:
def word_split(phrase,list_of_words, output = None):
    pass

## Good Luck!

Check out the Solutions Notebook once you're done!

In [30]:
s = 'themanran'

In [35]:
def show_method_attributes(method, ncols=7):
    """ Show all the attributes of a given method.
    Example:
    ========
    show_method_attributes(list)
     """
    import numpy as np
    import pandas as pd
    x = [i for i in dir(method) if i[0]!='_' ]
    x = [i for i in x 
         if i not in 'os np pd sys time psycopg2'.split()
        ]
             

    return pd.DataFrame(np.array_split(x,ncols)).T.fillna('')

In [36]:
show_method_attributes(s)

,0,1,2,3,4,5,6
0,capitalize,find,isdecimal,istitle,maketrans,rpartition,strip
1,casefold,format,isdigit,isupper,partition,rsplit,swapcase
2,center,format_map,isidentifier,join,replace,rstrip,title
3,count,index,islower,ljust,rfind,split,translate
4,encode,isalnum,isnumeric,lower,rindex,splitlines,upper
5,endswith,isalpha,isprintable,lstrip,rjust,startswith,zfill
6,expandtabs,isascii,isspace,,,,

In [54]:
s = 'thetherethe'
lst = ['the','the','there']

rev_sorted_lst = sorted(lst,key=len,reverse=True)

try:
    for i in rev_sorted_lst:
        s = s.replace(i,'')
except:
    pass

len(s) == 0

True

In [95]:
lst = ['the','the','there']
for e in lst:
    for j in range(len(lst)):
        print(e,j)

the 0
the 1
the 2
the 0
the 1
the 2
there 0
there 1
there 2