<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Importing-the-dataset" data-toc-modified-id="Importing-the-dataset-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Importing the dataset</a></span></li><li><span><a href="#Taking-care-of-missing-data" data-toc-modified-id="Taking-care-of-missing-data-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Taking care of missing data</a></span></li><li><span><a href="#Encoding-categorical-data" data-toc-modified-id="Encoding-categorical-data-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Encoding categorical data</a></span></li></ul></div>

In [2]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Importing the dataset

In [3]:
dataset = pd.read_csv('Data.csv')
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

# Taking care of missing data

In [4]:
from sklearn.preprocessing import Imputer
imputer = Imputer(missing_values = 'NaN', strategy = 'mean', axis = 0)
imputer = imputer.fit(X[:, 1:3])
X[:, 1:3] = imputer.transform(X[:, 1:3])

X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.77777777778],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [5]:
df = dataset.copy()
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [6]:
df.mean()

Age          38.777778
Salary    63777.777778
dtype: float64

In [7]:
df[['Age','Salary']] = df[['Age','Salary']].apply(lambda x: x.fillna(x.mean()), axis=0)
df

   Country        Age        Salary Purchased
0   France  44.000000  72000.000000        No
1    Spain  27.000000  48000.000000       Yes
2  Germany  30.000000  54000.000000        No
3    Spain  38.000000  61000.000000        No
4  Germany  40.000000  63777.777778       Yes
5   France  35.000000  58000.000000       Yes
6    Spain  38.777778  52000.000000        No
7   France  48.000000  79000.000000       Yes
8  Germany  50.000000  83000.000000        No
9   France  37.000000  67000.000000       Yes

In [8]:
df['Age'].mean()

38.77777777777778

# Encoding categorical data

In [11]:
# Encoding the Independent Variable
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

labelencoder_X = LabelEncoder()
X[:, 0] = labelencoder_X.fit_transform(X[:, 0])

onehotencoder = OneHotEncoder(categorical_features = [0])
X = onehotencoder.fit_transform(X).toarray()

# Encoding the Dependent Variable
labelencoder_y = LabelEncoder()
y = labelencoder_y.fit_transform(y)

In [12]:
# # encoding categorical data
# from sklearn.preprocessing import LabelEncoder, OneHotEncoder
# from sklearn.compose import ColumnTransformer
 
# labelencoder_X = LabelEncoder()
# X[:, 0] = labelencoder_X.fit_transform(X[:, 0])

# onehotencoder = OneHotEncoder(categories='auto')
# ct = ColumnTransformer([("country", onehotencoder, [0])], remainder="passthrough")
# X = ct.fit_transform(X)
 
# labelencoder_y = LabelEncoder()
# y = labelencoder_y.fit_transform(y)

# for newer versions >20 use columntransfer
import sklearn
sklearn.__version__

'0.19.2'

In [13]:
# # Encoding categorical data
# from sklearn.compose import ColumnTransformer
# from sklearn.preprocessing import OneHotEncoder, LabelEncoder
# transformerX = ColumnTransformer(
#     [(
#         "dummy_colX",
#          OneHotEncoder(categories='auto'),
#          [0]
#     )], remainder="passthrough"
# )
# X = transformerX.fit_transform(X)
# X = X.astype(float)
 
# labelencoder_y = LabelEncoder()
# y = labelencoder_y.fit_transform(y)

In [11]:
pd.DataFrame(X)

     0    1    2          3             4
0  1.0  0.0  0.0  44.000000  72000.000000
1  0.0  0.0  1.0  27.000000  48000.000000
2  0.0  1.0  0.0  30.000000  54000.000000
3  0.0  0.0  1.0  38.000000  61000.000000
4  0.0  1.0  0.0  40.000000  63777.777778
5  1.0  0.0  0.0  35.000000  58000.000000
6  0.0  0.0  1.0  38.777778  52000.000000
7  1.0  0.0  0.0  48.000000  79000.000000
8  0.0  1.0  0.0  50.000000  83000.000000
9  1.0  0.0  0.0  37.000000  67000.000000