<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Binary-Predictors-in-a-Logistic-Regression" data-toc-modified-id="Binary-Predictors-in-a-Logistic-Regression-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Binary Predictors in a Logistic Regression</a></span><ul class="toc-item"><li><span><a href="#Import-the-relevant-libraries" data-toc-modified-id="Import-the-relevant-libraries-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Import the relevant libraries</a></span></li><li><span><a href="#Load-the-data" data-toc-modified-id="Load-the-data-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Load the data</a></span><ul class="toc-item"><li><span><a href="#Declare-the-dependent-and-independent-variables" data-toc-modified-id="Declare-the-dependent-and-independent-variables-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Declare the dependent and independent variables</a></span></li><li><span><a href="#Simple-Logistic-Regression" data-toc-modified-id="Simple-Logistic-Regression-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>Simple Logistic Regression</a></span></li><li><span><a href="#Find-the-odds-of-duration" data-toc-modified-id="Find-the-odds-of-duration-1.2.3"><span class="toc-item-num">1.2.3&nbsp;&nbsp;</span>Find the odds of duration</a></span></li></ul></li></ul></li></ul></div>

# Binary Predictors in a Logistic Regression

Using the same code as in the previous exercise, find the odds of 'duration'. 

What do they tell you?

## Import the relevant libraries

In [1]:
import numpy as np
import pandas as pd
import scipy
import statsmodels.api as sm
import sklearn

# plotting
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set(color_codes=True)
sns.set()

# seaborn warnings ignore
import warnings
warnings.filterwarnings('ignore')

# Jupyter notebook settings for pandas
pd.set_option('display.float_format', '{:,.2f}'.format) # numbers sep by comma
pd.set_option('display.max_rows', 100) # None for all the rows
pd.set_option('display.max_colwidth', 100)

## Load the data

Load the ‘Bank_data.csv’ dataset.

In [2]:
!ls ../data/csv

Bank-data.csv                        real_estate_price_size.csv           real_estate_price_size_year_view.csv
Example-bank-data.csv                real_estate_price_size_year.csv

In [3]:
df = pd.read_csv('../data/csv/Bank-data.csv',index_col=0)
df.head()

   interest_rate  credit  march  may  previous  duration    y
0           1.33    0.00   1.00 0.00      0.00    117.00   no
1           0.77    0.00   0.00 2.00      1.00    274.00  yes
2           4.86    0.00   1.00 0.00      0.00    167.00   no
3           4.12    0.00   0.00 0.00      0.00    686.00  yes
4           4.86    0.00   1.00 0.00      0.00    157.00   no

In [4]:
df['y'] = df['y'].map({'yes':1, 'no':0})
df.head()

   interest_rate  credit  march  may  previous  duration  y
0           1.33    0.00   1.00 0.00      0.00    117.00  0
1           0.77    0.00   0.00 2.00      1.00    274.00  1
2           4.86    0.00   1.00 0.00      0.00    167.00  0
3           4.12    0.00   0.00 0.00      0.00    686.00  1
4           4.86    0.00   1.00 0.00      0.00    157.00  0

### Declare the dependent and independent variables

Use 'duration' as the independet variable.

In [5]:
y = df['y']
x1 = df['duration']

### Simple Logistic Regression

Run the regression.

In [6]:
x = sm.add_constant(x1)
results = sm.Logit(y,x).fit()
results.summary()

Optimization terminated successfully.
         Current function value: 0.546118
         Iterations 7

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:                  518
Model:                          Logit   Df Residuals:                      516
Method:                           MLE   Df Model:                            1
Date:                Thu, 27 Dec 2018   Pseudo R-squ.:                  0.2121
Time:                        11:23:24   Log-Likelihood:                -282.89
converged:                       True   LL-Null:                       -359.05
                                        LLR p-value:                 5.387e-35
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -1.7001      0.192     -8.863      0.000      -2.076      -1.324
duration       0.0051      0.001      9.159      0.000       0.004       0.006
==============================================================================
"""

### Find the odds of duration

> coeff duration = 0.0051
> coeffs are significant

In [7]:
np.exp(0.0051)

1.005113027136717

- duration of one day, does not effect much.
- duration feature is not normalized and it have large magnitude values.